@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Chewy&display=swap');

body {
  margin: 0;
  font-family: 'Balsamiq Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0A4740 !important;
  scroll-behavior: smooth !important;
}

.ff_chewy {
  font-family: 'Chewy',
    system-ui;
}

@font-face {
  font-family: "lucky-dino";
  src: url('./assets/fonts/LuckyDino.otf');
}

.ff_luckydino {
  font-family: "lucky-dino";
}

code {
  font-family: 'Balsamiq Sans',
    sans-serif;
}

/* border: 13.34px solid #0A4740 */